body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 720px;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#options {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 20px;
    text-align: center;
}

label {
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.option-image {
    width: 200px; /* Установите ширину изображения */
    height: auto; /* Высота будет пропорциональна ширине */
    border: 2px solid transparent; /* Стили для радиокнопки */
}



#submit, #next {
    margin-top: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#submit:hover, #next:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}


